body{
    font-family: Arial;
    background-color: white ; 
    height: 100vh ;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 3fr 11fr 2fr; 
    text-align:center;
}
#title{
    color: #13294B ;  
    max-width:400px ; 
}
nav{ 
    display:flex ; 
    align-items:center ; 
    justify-content:space-between;
    grid-column: 1/2;
    grid-row: 1/2 ;
    background-color: #4B9CD3 ; 
}
main{
    display:flex;
    flex-direction:column ; 
    justify-content:center ; 
    align-items:center ; 
    grid-column: 1/2;
    grid-row: 2/3 ;
}
footer{
    display:flex ; 
    justify-content:center ; 
    align-items:center ; 
    background-color: #9FD9FF; 
    grid-column: 1/2;
    grid-row: 3/4 ;
}
.button{
    background-color:#13294B ;
    color:white ; 
    text-decoration:none ; 
    border-radius: 30px;
    padding:10px ;
    margin:10px;

}
.button:hover{
    background-color: #9FD9FF; 
    color: #13294B ;
}
p{
    font-family:sans-serif ; 
    color: #13294B ;
    max-width:1000px ; 
}
main h2{
    color: #13294B ;
    text-decoration:underline ; 
    font-size:25px;
}
footer h2{
    color: #13294B ;
    font-weight:bold ; 
    font-size:18px; 
}